[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
apiai = "*"
certifi = "*"
chardet = "*"
django = "*"
idna = "*"
numpy = "*"
pytz = "*"
requests = "*"
urllib3 = "*"
wheel = "*"
django-rest-framework = "*"
django-extensions = "*"


[requires]
python_version = "2.7"
