dj-database-url
gunicorn
whitenoise
psycopg2
apiai==1.2.3
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.5
idna==2.6
numpy==1.13.1
pytz==2017.2
requests==2.18.4
urllib3==1.22
wheel==0.24.0
django-extensions==1.9.1
djangorestframework==3.6.4
redis==2.10.6
celery==4.1.0
pyrebase==3.0.27
